<!DOCTYPE html>
<html>
  <header>
    <title>Geeks-student</title>
  </header>

  <body>
      <div>
        <img src="https://lh3.googleusercontent.com/pw/AP1GczPeIM-r1bYGU2DbElrUsWefXwhuewNZNFGEx2yDVybaPhBqEOHc4oM5xqH12LNVOrqI8HcMeqZRDk-oj3-hgcD5nizwQ-fO9digkmQtDtbNCZAcKuHQo7cWui-E_b75s8_8E0JrzzsP42AL6bKEYf6D=w347-h463-s-no" width="250px" height="330" alt="">
        <h2>Akmalidin Murzaev</h2>
        <h5>Backend developer</h5>
        <p>студент 4-го месяца</p>
      </div>
  </body>
</html>
