<!DOCTYPE html>
<html>
  <head>
    <title>Geeks-student</title>
    <style>
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>
  </head>

  <body>

    <!-- Display the image and information in the div below -->
    <div>
      <!-- Add image src attribute to point to the image URL -->
      <img src="{{ banner.image.url }}" width="250px" height="330" alt="Banner Image">
      <h2>{{ banner.title }}</h2>
      <h5>{{ banner.description }}</h5>
    </div>
  </body>
</html>
